<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="author" content="Julien Barbay">
    <meta name="twitter:creator" content="@y_nk">
    <meta name="twitter:card" content="summary">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="icon" type="image/svg+xml" href="./favicon.svg">
    <link rel="alternate" type="application/rss+xml" href="./feed.xml">
  </head>

  <body class="index">
    <header>
      <h1><a href="./">
        <svg id="y_nk" viewBox="0 0 100 65">
          <polygon class="bk" points="10.1,0 20.3,10.1 0,10.1"></polygon>
          <polygon class="ft" points="20.3,10.1 46.2,36.1 36.1,46.2 0,10.1"></polygon>
          <polygon class="bk" points="35.6,10.1 45.8,20.3 45.8,0"></polygon>
          <polygon class="ft" points="89.9,44.3 89.9,64.6 45.8,20.3 45.8,0"></polygon>
          <polygon class="bk" points="89.9,0 79.7,10.1 100,10.1"></polygon>
          <polygon class="ft" points="79.7,10.1 75.3,14.6 85.4,24.7 100,10.1"></polygon>
          <polygon class="bk" points="100,54.4 89.9,44.3 89.9,64.6"></polygon>
        </svg>
      </a></h1>
    </header>

    <!--section id="introduction">
    </section-->

    <section id="main"></section>

    <script>
      const colors = ['blue', 'cornflowerblue', 'darkorange', 'darkturquoise', 'deepskyblue', 'dodgerblue',
        'gold', 'goldenrod', 'indigo', 'lightcoral', 'lightgreen', 'lightpink', 'lightseagreen', 'lightskyblue',
        'lightslategray', 'limegreen', 'mediumaquamarine', 'mediumblue', 'mediumspringgreen', 'midnightblue',
        'moccasin', 'navajowhite', 'orange', 'orangered', 'palegreen', 'paleturquoise', 'pink', 'rebeccapurple',
        'royalblue', 'salmon', 'sandybrown', 'seagreen', 'skyblue', 'springgreen', 'steelblue', 'teal', 'tomato']

      document.body.style.setProperty('--accent', colors[Math.floor(Math.random() * colors.length)])
    </script>
  </body>
</html>
